# ---------------------------
# git ignore for production |
# --------------------------
/Server/venv
/Server/ML/model_datacom_2
/Server/ML/model_datacom


/project-manager/FLASK-Server/venv
/project-manager/FLASK-Server/__pycache__
/project-manager/TEST-capture
.vscode
# -----------------------
# git ignore for images |
# -----------------------

ML/venv
*__MACOSX
ML/model_datacom
ML/model_datacom_2
ML/images/train
ML/images/validation
PC2/model_datacom
PC2/model_datacom_2

# ----------------------------------
# git ignore for data science ...  |
# ----------------------------------
PC2/venv
docs/equations/*.aux
docs/equations/*.log
docs/equations/*.out
docs/equations/*.synctex.gz
code/ch12/mnist
code/datasets/mnist/t10k-images-idx3-ubyte
code/datasets/mnist/t10k-labels-idx1-ubyte
code/datasets/mnist/train-images-idx3-ubyte
code/datasets/mnist/train-labels-idx1-ubyte
.ipynb_checkpoints
.DS_Store
code/datasets/movie/aclImdb_v1.tar.gz
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
docs/_build/
target/