/project-manager/FLASK-Server/venv
/project-manager/FLASK-Server/__pycache__
/project-manager/TEST-capture
.vscode

# ----------------------------------
# git ignore for data science ...  |
# ----------------------------------
PC2/venv
docs/equations/*.aux
docs/equations/*.log
docs/equations/*.out
docs/equations/*.synctex.gz
code/ch12/mnist
code/datasets/mnist/t10k-images-idx3-ubyte
code/datasets/mnist/t10k-labels-idx1-ubyte
code/datasets/mnist/train-images-idx3-ubyte
code/datasets/mnist/train-labels-idx1-ubyte
.ipynb_checkpoints
.DS_Store
code/datasets/movie/aclImdb_v1.tar.gz
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
docs/_build/
target/